[submodule "fontawesome"]
	path = src/3rdparty/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "material-design-icons"]
	path = src/3rdparty/material-design-icons
	url = https://github.com/jossef/material-design-icons-iconfont.git
